#ha{
	background: url('../../images/footer.png') repeat-x;	
	min-width: 1000px;
}
#ha table{
	width: 1000px;
	margin: 0 auto;
	color: #ff0;
}
#ha td{	
	font-weight: bold;
	font-size: 15px;
	height: 44px;
	width: 100%;
	text-align: right;
	vertical-align: middle;
}
#ha a{
	margin: 0 3px;
	color: #ff0;
}
#ha form{
	margin: 0 10px;
}